<div class="menu-container">
    <div class="containers">
        <div class="menu">
            <a href="/" class="logo">
                <img src="/assets/logo.svg" alt="Daniela Narvaez, Marketing Digital">
            </a>
            <nav id="nav" class="nav justify-content-center">
                {{ range .Site.Menus.main }}
                <a class="nav-link" href="{{ .URL }}">
                {{ if .Pre }}
                {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
                {{ $icon }}
                {{ end }}
                {{ $text := print .Name | safeHTML }}
                {{ $text }}
                </a>
                {{ end }}
            </nav>
            <div>
                <a href="/posts/">Blog</a>
                <a class="contacto" href="/contacto/">Contacto</a>
            </div>
        </div>
    </div>
</div>