<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}
<body>
{{- partial "header.html" . -}}

<div class="container py-normal">
    <div class="acerca-de-mi">
        <img src="/assets/about.svg" />
        <div class="content">
            <h3>Para quienes siguen con curiosidad</h3>
            <h1>Un poco de info acerca de mi</h1>
            <p>👋 Hola mi nombre es Daniela Narváez. Soy autodidacta, me apasiona la tecnología, el marketing, el ecosistema cripto y los animales.</p>
            <p>🚀 Mi personalidad curiosa me llevó a transitar por varios emprendimientos, y orientarme finalmente al Marketing Digital.</p>
            <p>💪 Como freelancer ayudo a mis clientes a mejorar su presencia en las redes sociales llevando a cabo un plan de acuerdo a los objetivos que tiene como marca.</p>
        </div>
    </div>
</div>

{{- partial "footer.html" . -}}
</body>
</html>
