<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}
<body>
{{- partial "header.html" . -}}

<div class="container">
    <div class="text-center">
        <img src="/assets/contacto-good-luck-cat.svg" alt="" />
        <h1 class="text-center">Trabajemos juntos</h1>
        <div class="text-center text-big">
            Contactame y dejame tu consulta por <img src="/assets/contacto-whatsapp.svg" alt="WhatsApp" width="18px" style="vertical-align: middle;"> <a href="https://wa.link/1qhk8f" target="_blank">WhatsApp</a>.
        </div>
</div>

{{- partial "footer.html" . -}}
</body>
</html>
