<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}
<body>
{{- partial "header.html" . -}}

<div class="container py-normal">
    <div class="text-center text-big">Mi Conocimiento</div>
    <h1 class="text-center servicios-title">¿Qué puedo hacer por vos?</h1>

    <div class="servicios">
        <div class="asesoria">
            <img src="/assets/servicios-Asesoria.svg" />
            <h2>Servicio de Asesoría</h2>
            <p>Definimos Juntos todos los elementos necesarios para crear tu identidad única y alcanzar la distinción con tu competencia.</p>
        </div>
        <div class="redes-sociales">
            <img src="/assets/servicios-marketing-de-redes-sociales.svg" />
            <h2>Marketing de Redes Sociales</h2>
            <p>Optimizo tu red social y planifico la estrategia de publicación semanal y mensual. Asegurando un punto clave en las redes sociales, ¡consistencia!</p>
        </div>
        <div class="publicidad">
            <img src="/assets/servicios-pbl.svg" />
            <h2>Marketing y Publicidad</h2>
            <p>Te ayudo a crear tu presencia digital, logrando que tus clientes ideales puedan encontrarte en las búsquedas.</p>
        </div>
    </div>
</div>

{{- partial "footer.html" . -}}
</body>
</html>
