<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}
<body>
{{- partial "header.html" . -}}

<div class="testimonio-container">
    <div class=" py-normal">
        <div class="text-center text-big">Testimonios</div>
        <h1 class="text-center servicios-title">¿Qué están diciendo?</h1>

        <div class="testimonios">
            <div>
                <img class="picture" src="/assets/testimonio-ayi.svg" />
                <div class="box">
                    <div class="testimonio">
                        <h2>Ayi Zurita</h2>
                        <a href="https://www.instagram.com/movimientofucsia_tucuman/" target="_blank">@Movimiento Fucsia</a>
                        <p>"Las palabras que definen a Daniela son innovación, organización y estrategia, ya que desde que cuento con su trabajo mis redes sociales han incrementado notablemente visibilidad y se han puesto a la altura de las mejores."</p>
                    </div>
                </div>
            </div>

            <div>
                <img class="picture" src="/assets/testimonio-raul.svg" />
                <div class="box">
                    <div class="testimonio">
                        <h2>Raúl Arévalo</h2>
                        <a href="https://www.instagram.com/cubodelaverdadtucuman/" target="_blank">@El Cubo de la Verdad</a>
                        <p>"Daniela es una persona con un excelente ojo crítico, es analista y detallista, supo captar nuestros valores y volcarlos en la comunicación gráfica de varias campañas de nuestra agrupación."</p>
                    </div>
                </div>
            </div>

            <div>
                <img class="picture" src="/assets/testimonio-cyf.svg" />
                <div class="box">
                    <div class="testimonio">
                        <h2>C&F - Estudio contable</h2>
                        <a href="https://www.instagram.com/cyf.asesoramiento.contable/" target="_blank">@C&F</a>
                        <p>"Muy conformes con el asesoramiento de Daniela. Excelente relación interpersonal, muy comunicativa, ordenada y comprometida con el trabajo, recomendadisimo para los emprendimientos que recién comienzan y buscan llegar a potenciales clientes!"</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{- partial "footer.html" . -}}
</body>
</html>
